.barChartContainer {
    margin-top: 3rem;
    padding: 2rem;
    background-color: rgb(250, 250, 118);
    border-radius: 10px;
  }
  .barChartContainer:hover{
    background-color: yellow;
  }
  
  .chartTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  