.sidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 200px;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.logoutButton {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
